body {
  background: linear-gradient(to bottom, rgba(28, 28, 29, 0.7), rgba(28, 28, 29, 0.7)), url('./background/stars.jpg');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}
